html{
  -ms-text-size-adjust:100%;
  -webkit-text-size-adjust:100%;
}
body{
  line-height:1.6;
  font-family:-apple-system-font, "Helvetica Neue", sans-serif;
  margin:0;
  padding:20px;
}

.sp-area {
    margin: 0 auto;
    width: 90%
}

.top-div{
    margin: 20px 0 0 0;
}